	.navbar-header img{
		height:48px;
	}

	.navbar-wrapper {
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  z-index: 20;
	  margin-top: 20px;
	}

	/* Flip around the padding for proper display in narrow viewports */
	.navbar-wrapper .container {
	  padding-left: 0;
	  padding-right: 0;
	}
	.navbar-wrapper .navbar {
	  padding-left: 15px;
	  padding-right: 15px;
	}

	.navbar-content
	{
		width:320px;
		padding: 15px;
		padding-bottom:0px;
	}
	.navbar-content:before, .navbar-content:after
	{
		display: table;
		content: "";
		line-height: 0;
	}
	.navbar-nav.navbar-right:last-child {
	/*margin-right: 15px !important;*/
	}
	.navbar-footer 
	{
		background-color:#DDD;
	}
	.navbar-footer-content { padding:15px 15px 15px 15px; }
	.dropdown-menu {
	padding: 0px;
	overflow: hidden;
	}


	.navbar-inverse{
		background-color:#194585;
		border:1px solid #fff;
	}
	.navbar-right .hidden-xs{
		display:block;
	}
	.navbar-inverse .navbar-nav > .active > a{
		background-color:#ec857a;
		color:#fff;
		margin-left:10px;
	}
	.navbar-inverse .navbar-nav > .active > a,
	.navbar-inverse .navbar-nav > .active > a:focus,
	.navbar-inverse .navbar-nav > .active > a:hover{
		background-color:#ec857a;
		color:#fff;
	}
	.navbar-inverse .navbar-nav  > li >a:hover{
		/*background-color:#ec857a;
		color:#fff;*/
	}
	.btn-group-vertical > 
	.btn-group::after, 
	.container-fluid::after, 
	.navbar-collapse::after, 
	.navbar::after
	{
		clear:none;
	}
	.navbar-inverse .navbar-nav > li > a{
		color:#fff;
	}
	.hidden-xs{
		color:#fff;
	}.hidden-xs:hover{
		color:#000;
	}
	.profile p{
		padding-top:5px;
		padding-bottom:5px;
		padding-left:10px;
		color:#fff;
	}
	.navbar-brand{
		padding:0px;
	}
	.navbar-right .form-control{
		height: 34px !important;
		margin:0px 0px;
	}
	.navbar-nav>li>a{
		padding-bottom:13px;
	}

@media (max-width: 900px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

	.col-md-5 {
		width: 41.6667%;
	}
	.col-md-7 {
		width: 58.3333%;
	}
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
		float: left;
	}
	.col-md-6 {
		width: 50%;
	}
	.pull-right {
		float: right !important;
	}
}


@media (min-width: 901px)  and (max-width: 1230px){
	.navbar-header img {
		height: 50px;
	}
	.navbar-nav > li > a {
		padding: 15px 5px;
	}

	*::after, *::before {
		box-sizing: border-box;
	}
	*::after, *::before {
		box-sizing: border-box;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border-color: #101010;
	}
	.navbar-left {
		float: left !important;
	}
	.navbar-form li{
		width:50%;display:table;
	}
	#myNavbar .navbar-right > li{
		display:table;
	}
	.navbar-nav li{
		font-size:11px;
	}


	.col-md-5 {
		width: 41.6667%;
	}
	.col-md-7 {
		width: 58.3333%;
	}
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
		float: left;
	}
	.col-md-6 {
		width: 50%;
	}
	.pull-right {
		float: right !important;
	}
	.navbar-form{
		width:150px;
	}
	.profile{
		width:auto;
	}
	.profile p{
		padding-top:10px;
		padding-bottom:10px;
		padding-left:10px;
		color:#fff;
	}
}

.quicklaunch {
    border: none;
    color: white;
    padding: 20px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color:#d54830;
}
.nav{
	display:block;
}
table{
 margin:0px auto;
}


.im_loading{ 
 background:#fff url(../image/im_loader.gif) no-repeat center center;
 text-align:center;
 height:100%;
 position: absolute;
 width: 100%;
 z-index: 10;
 background-color:rgb(253,243,242);
 /* display:none;
 position:fixed;
 top:50%;
 left:50%;
 margin:-35px 0px 0px -35px;
 background:#fff url(../image/im_loader.gif) no-repeat center center;
 width:70px;
 height:70px;
 z-index:9999;
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
 border-radius:10px;
 -moz-box-shadow:1px 1px 3px #000;
 -webkit-box-shadow:1px 1px 3px #000;
 box-shadow:1px 1px 3px #000;
 opacity:0.7;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); */ 
}
.active{
	background-color:#fff;
	color:#000;
}
._720kb-datepicker-calendar-day._720kb-datepicker-today {
  background:red;
  color:white;
}